*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol{
    list-style: none;
}

header{
	width: 1920px;
	height: 387.56px;
	background: #1a2886
}
header nav li{
	display: inline-block;
    margin-right: 30px;
    text-align: center;

}
header nav a{	
	color: #FFFFFF;
}
.nav-contact{
	background-color: #FFFFFF;
	border-radius: 28px;
	width: 160px;
    height: 55px;
}
.nav-contact a{
	font: normal normal bold 16px/19px Helvetica Neue;
	color: #171717;
}



/* projects */

header{
    background-color: blue;

}
header ul li{
    color: #FFFFFF;
    margin-left: 240px;
}



/* p{
    height: 65px;
    font-size: 18px;
    color: black;
    width: 339px;
     font-family: 'ALK Rounded Nusx Med';  
} */

/* section{
    display: inline-block;
} */

/* .container {
    display: inline-block;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
} */

/* .first-Photo{
    width: 463px;
    height: 420px;
    border-radius: 15px;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    margin-left: 80px;
    margin-top: 60px;
    margin-right: 510px;
} */

/* .third-Photo{
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    margin-left: 803px;
    margin-top: 60px;
    margin-right: 510px;
} */

/* .second-photo{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    margin-left: 768px;
    margin-top: -350px;
} */


/* div{
    display: inline-block;
} */
/* section .container{
    margin-top: 20px;
} */
/* .relative img,
.image-box img {
	width: 100%;
} */
/* .relative,
.image-box {
	position: relative;
    border-radius: 15px;
} */

.div-sec div{
    display: inline-block;
    margin-left: 100px;
    margin-top: -200px;
}

.absolute1{
	position: absolute;
	background-color: whitesmoke;
    width: 320px;
    border-radius: 12px;
}
.absolute2{
	position: absolute;
	background-color: whitesmoke;
    height: 80px;
    width: 320px;
    border-radius: 12px;
    padding-left: 10px;
}
.absolute3{
    position: absolute;

	background-color: whitesmoke;
    height: 80px;
    width: 336px;

    border-radius: 12px;
    padding-left: 10px;

}

/* .first-Div{
    margin-left: auto;
    margin-top: auto;
} */