*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol{
    list-style: none;
}

header{
	width: 1920px;
	height: 387.56px;
	background: #1a2886
}
header nav li{
	display: inline-block;
    margin-right: 30px;
    text-align: center;

}
header nav a{	
	color: #FFFFFF;
}
.nav-contact{
	background-color: #FFFFFF;
	border-radius: 28px;
	width: 160px;
    height: 55px;
}
.nav-contact a{
	font: normal normal bold 16px/19px Helvetica Neue;
	color: #171717;
}